<div id="main">
  <h1>{{ title }}</h1>

  <div class="account">
    <a hred="#" id="logout" class="facebookButton">Logout</a>
    <a hred="#" id="login" class="facebookButton">Login</a>
  </div>

  <div id="content">
    Pantalla de principal
  </div>
</div>